@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  overflow-x: hidden;
}

/* Allow vertical scrolling on mod pages */
body:has(.min-h-screen) {
  overflow-y: auto;
}

/* Define font size styles */
.font-size {
  font-size: 12px;
}

/* Define media queries for different screen sizes */
@media (min-width: 700px) {
  .font-size {
    font-size: 10px;
  }
}

@media (min-width: 1000px) {
  .font-size {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .font-size {
    font-size: 16px;
  }
}

@media (min-width: 2000px) {
  .font-size {
    font-size: 20px;
  }
}
