.mod-description h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
}

.mod-description ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.mod-description ol {
  list-style-type: decimal;
  margin-left: 1rem;
}

.mod-description p {
  margin-bottom: 0.75rem;
}

.mod-description li {
  margin-bottom: 0.25rem;
}
